.button {
    padding: 10px 20px;
    background-color: #191c20;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0, 128, 85)
  }
  
  