.text-area::-webkit-scrollbar {
    display: none;
  }
.container {
    display: flex;
    width: 100%;
  }
  
  .left,
  .right {
    flex-basis: 25%;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    overflow-y: auto;
  }
  .chat-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(49, 255, 186);
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(49, 255, 186);
    box-shadow: -5px 5px 20px rgb(49, 255, 180);
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }
  .chat-item:hover{
    transform: translateX(5px);
    background-color: rgb(237, 214, 255);
  border-color: rgb(237, 214, 255);
  box-shadow: 0px 5px 20px rgb(237, 214, 255);
  }
  .chat-item:hover .isOffline {
    border-color: rgb(237, 214, 255);
  }
  .selected-chat-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 221, 147);
    padding: 5px;
    border-radius: 10px;
    /* border: 3px solid rgb(144, 0, 255); */
    box-shadow: 0px 10px 50px rgb(0, 221, 147);
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }
  .selected-chat-item:hover{
    transform: translateX(5px);
  }
  .selected-chat-item .isOffline{
    border-color: rgb(0, 221, 147);
  }
  .isOffline {
    margin-right: 10px;
    border: 3px solid rgb(49, 255, 186);
    border-radius: 100%;
    opacity: 0.9;
  }
  .isOnline {
    margin-right: 10px;
    border: 3px solid rgb(144, 0, 255);
    border-radius: 100%;
  }
  .chat-content {
    display: flex;
    flex-direction: column;
  }
  .chat-content h2,
.chat-content p {
  margin: 0;
}


.middle {
    flex-basis: 50%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    text-align: justify;
  }
  .message-text {
  height: 80vh;
  background-color: rgb(49, 255, 186);
  border-radius: 15px;
  box-shadow: 0px 5px 50px rgb(49, 255, 180);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 45px;
  margin-top: 35px;
}
.chat-top {
  border-bottom: 2px solid rgba(15, 15, 15, 0.468);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(49, 255, 186);
  padding: 5px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-area {
  background-color: rgb(49, 255, 186);
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.sent {
  background-color: rgb(237, 214, 255);
  border-radius: 30px 30px 5px 30px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  max-width: 80%;
  align-self: flex-end;
  font-weight: 400;
  font-size: 18px;
  margin-right: 10px;
  transition: transform 0.2s ease-out;
  
}
.sent:hover{
  transform: translate(-5px, -2px);

}
.received {
  background-color: rgb(237, 214, 255);
  border-radius: 30px 30px 30px 5px;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: fit-content;
  max-width: 80%;
  align-self: flex-start;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  transition: transform 0.2s ease-out;
}
.received:hover{
  transform: translate(5px, -2px);
}


.typing-area {
    position: sticky;
    top: 88.6vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 8vh;
    display: flex;
    box-shadow: -5px 5px 40px rgb(49, 255, 180);
    border-radius: 15px;
    background-color: rgb(237, 214, 255);
    border: 2px solid rgb(237, 214, 255)
  }
  
.typing-field {
    border: 1px solid rgb(237, 214, 255);
    border-radius: 15px 0px 0px 15px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: rgb(237, 214, 255);
    color: rgb(0, 0, 0);
    padding-left: 5px;
  }
  .typing-field:active{
    border: 1px solid rgb(49, 255, 180);
  }
  .send-button{
    border: 2px solid rgb(237, 214, 255);
    color:rgb(144, 0, 255);
    border-radius: 0px 15px 15px 0px;
    height: 70%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .send-button:hover{
    opacity: .8;
    transform:translate(5px, -5px)
  }